body{
background-color:white;
}

#loading {
	position:fixed;
	bottom:100px;
	width:100%;
	height:25px;
	text-align:left;
}
#load{
	width:100px;
	height:100px;
	bottom:100px;
}

.mobileVersion{
	display:none;
}

.mobile{
display:none;
}

#wrapper > footer > h1{
text-align:center;
}

.tabletVersion{
	position:relative;
	display:inline-block;
	width:20%;
}

#wrapper > header{
	/* Positionerar ut sidhuvudet */
	position:relative;
	width:100%;
	height:50px;
	/* Bakgrund och text-färg */
	background-color:#222;
	color:#eee;
	text-align:center;
	
	
}

#wrapper > header > h1{
	font-size:25px;
	margin:10px;
	text-align:center;
	display:inline-block;
}

#wrapper > nav{
	/* Positionerar ut menyn */
	position:relative;
	width:20%;
	top:10px;
	bottom:25px;
	/* Bakgrund */
	background-color:white;
	overflow-x:hidden;
	overflow-y:auto;
	float:left;
	text-align:center;
	height:690px;
		
}




#wrapper > article{
	/* Positionerar ut innehållet */
	float:right;
	width:80%;
	left:25%;
	top:-20px;
	padding-top:30px;
	
/*	text-align:center;*/
	
	

}

#title{
font-size:35px;
text-decoration:underline;
padding-left:32%;
}

#wrapper > article  h1{
	font-size:40px;
}


#wrapper > article > section{
	margin:30px;
}

#wrapper > footer{
	/* Positionerar ut sidfoten */
	position:fixed;
	bottom:0px;
	width:100%;
	height:25px;
	/* Bakgrund och text-färg */
	background-color:#222;
	color:#eee;
}